//bacgrounds
$body-bg: #000000;
$body-bg-text: #121212;
//colors
$brand-color: #ffffff;
$second-color: rgba(#ffffff, 0.4);
//button-colors
$button-primary-bg: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
$button-brand-bg: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
//progress-bars-bg
$progress-line-primary-bg: linear-gradient(
  94.78deg,
  #df5950 11.19%,
  #451046 93.72%
);
$progress-line-bg: #ffffff;
//graph-bars-bg
$graph-line-bg: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
$graph-line-bg-vertical: linear-gradient(185deg, #c89afc 9.51%, #7c6afa 90.23%);
//frame-bars-bg
$frame-line-bg: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);

//fonts
$basic-family: "Roboto", Arial, Helvetica, sans-serif;
//container
$container-width: 1348px;
//border
$border-line: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

$xxl: 1400px;
$xl: 1300px;
$lg: 1200px;
$lg-md: 1024px;
$lg-sm: 820px;
$md: 768px;
$md-sm: 1;
$sm: 576px;
// $xs: 576px;
