.btn {
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: none;
  color: $brand-color;
  @include font(16px, 24px, 400);
  transition: opacity .2s ease;
  z-index: 1;

  &[disabled], &._disabled{
    background: #ccc;
    pointer-events: none;
  }

  &:hover{
    opacity: .8;
  }
  &:active, &._active{
    opacity: 1;
  }
  &:focus-visible{
    box-shadow: 0 0 0 2px aqua;
  }
}
.btn--primary {
  background: $button-primary-bg;
}
.btn--brand {
  background: $button-brand-bg;
}
.btn--black{
  background-color: $body-bg;
  border: 1px solid $brand-color;
}