.button__top-btn {
  flex-shrink: 0;
  position: absolute;
  top: 40px;
  right: 70px;
}
@media (max-width: 1400px) {
  .button__top-btn{
    position: fixed;
  }
  .button__top-btn {
    right: 24px;
  }
}
