.button {
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: none;
  color: $brand-color;
  @include font(16px, 24px, 400);
  transition: opacity 0.2s ease;
  z-index: 1;
}
.button--primary {
  background: $button-primary-bg;
}
