.doing__container {
  padding-top: 203px;
  padding-bottom: 193px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @include media($lg-md) {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    padding-bottom: 60px;
  }
  @include media($sm) {
    padding-bottom: 40px;
  }
}
.doing__frame {
  width: 83%;
  @include media($lg-md) {
    order: 1;
    margin: 0 auto;
    width: 53%;
  }
  @include media($lg-sm) {
    width: 68%;
  }
  @include media($md) {
    width: 100%;
  }
}
.doing__img {
  width: auto;
  object-fit: cover;
  position: absolute;
  top: 96px;
  left: 38px;
  display: block;
  z-index: 1;
  @include media($lg) {
    top: 60px;
  }
  @include media($sm) {
    max-width: 100%;
    height: auto;
    left: 0;
  }
}
.doing__left {
  margin-top: 70px;
  @include media($lg-md) {
    order: -1;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.doing__h2 {
  margin-bottom: 44px;
  @include media($lg) {
    text-align: center;
    margin-bottom: 20px;
  }
}
.doing__descr {
  margin-right: 15px;
  @include media($lg) {
    text-align: center;
    margin-right: 0;
  }
}
