.doing {
}
.doing__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.doing_right {
  margin-top: 200px;
  margin-bottom: 258px;
  position: relative;
  @include media($lg){
    margin: 0 auto;
    margin-top: 30px;
  }
}
.doing__line {
  position: relative;
  width: 526px;
  height: 499px;
  border: 30px transparent;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.doing__img {
  width: auto;
  object-fit: cover;
  position: absolute;
  top: 93px;
  left: 32px;
}
.doing__line:after {
  content: " ";
  position: absolute;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  background-color: $body-bg;
}
.doing__left {
  margin-top: 267px;
  @include media($lg){
    margin-top: 30px;
  }
}
.doing__h2 {
  margin-bottom: 45px;
  @include media($lg){
   text-align: center;
  }
}
.doing__desc {
  margin-right: 15px;
  @include media($lg){
    text-align: center;
   }
}
@media (max-width: 1200px) {
  .doing__container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}