.doing {
}
.doing__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.doing_right {
  position: relative;
  margin-top: 267px;
  margin-bottom: 258px;
}
.doing__img {
  width: auto;
  object-fit: cover;
}
.doing_right:after {
  content: " ";
  position: absolute;
  width: 526px;
  height: 499px;
  border: 30px solid #c89afc #7c6afa;
  box-sizing: border-box;
  top: -66px;
  left: -10px;
}
.doing__left {
  margin-top: 267px;
}
.doing__h2 {
  margin-bottom: 45px;
}
.doing__desc {
  margin-right: 15px;
}
