.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 106px;
}
.footer__h2 {
  margin-bottom: 30px;
  @include media($xs) {
    text-align: center;
  }
}
.footer__descr {
  text-align: center;
  margin-bottom: 60px;
  width: 33%;
  @include media($lg-md) {
    width: 100%;
  }
}
.footer__form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  @include media($xs) {
    align-items: center;
  }
}
.footer__input {
  padding: 11px 30px;
  max-width: 353px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.25);
  @include font(14px, 22px, 400);
  flex-grow: 1;
}
.footer__send {
  text-align: center;
  flex-shrink: 0;
  margin-left: -20px;
  @include media($xs) {
    margin-left: -85px;
  }
}
.footer__socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.footer__social {
  display: block;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  padding: 13px;
  border-radius: 50%;
}
.footer__icon {
  display: block;
}
