.frame:after,
.frame:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame {
  width: 83%;
  height: 499px;
  position: relative;
  display: flow-root;
  @include media($lg-md) {
    width: 53%;
  }
  @include media($lg-sm) {
    width: 68%;
  }
  @include media($md) {
    width: 68%;
  }
  @include media($sm) {
    width: 100%;
  }
}
.frame:before {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.frame:after {
  background-color: $body-bg;
  margin: 30px;
}
