.frame:after,
.frame:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame {
  height: 499px;
  position: relative;
  display: flow-root;
}
.frame:before {
  background: $frame-line-bg;
}
.frame:after {
  background-color: $body-bg;
  margin: 30px;
}
