.graph {
  background: $graph-line-bg;
  height: 80px;
  flex-grow: 1;
  width: 100%;
  @include media($md) {
    width: 40px;
    height: 250px;
    transform: scale(-1);
    background: $graph-line-bg-vertical;
    flex-grow: 0;
  }
}
.graph--lg {
  transform: scale(-1);
  height: 60px;
  @include media($md) {
    width: 30px;
    height: 255px;
    transform: scale(1);
  }
}
.graph--md {
  height: 30px;
  @include media($md) {
    width: 10px;
    height: 255px;
    transform: scale(-1);
  }
}
.graph--sm {
  transform: scale(-1);
  height: 10px;
  @include media($md) {
    width: 5px;
    height: 255px;
    transform: scale(1);
  }
}
