.header {
  background: url(../img/background.jpg) center center/ cover no-repeat;
  position: relative;
}
.header:before {
  @include media($lg) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: -1;
    opacity: 0.3;
  }
}
.header__container {
  padding-top: 43px;
  padding-bottom: 48px;
  background-color: none;
  @include media($lg) {
    padding-bottom: 130px;
  }
  @include media($md) {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  @include media($sm) {
    padding-top: 16px;
  }
}
.header__nav {
  @include media($lg) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #161616;
    z-index: 2;
    transition: transform 0.2s ease;
    transform: translateX(-100%);
    pointer-events: none;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    overflow-y: auto;
  }
  @include media($md) {
    padding-top: 0;
  }
}
.header__nav--active {
  @include media($lg) {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media($sm) {
    margin-bottom: 30px;
  }
}
.header__h1 {
  margin-top: 189px;
  margin-bottom: 50px;
  width: 60%;
  @include media($xl) {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  @include media($lg) {
    margin-top: 73px;
  }
  @include media($md) {
    width: 100%;
    text-align: center;
    margin-top: 165px;
  }
  @include media($sm) {
    margin-top: 73px;
    margin-bottom: 30px;
  }
}
.header__button {
  z-index: 3;
  flex-shrink: 0;
  position: absolute;
  top: 38px;
  right: 72px;
  @include media($xxl) {
    right: 24px;
  }
  @include media($lg) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 0;
    left: 25px;
  }
}
.header__bottom {
  background-color: $body-bg-text;
  @include media($md) {
    opacity: 0.9;
  }
}
.header__bottom-container {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 21px;
  @include media($xl) {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  @include media($md) {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__bottom-btn {
  margin-right: 83px;
  @include media($md) {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.header__descr-item {
  display: flex;
  justify-content: space-between;
  color: $second-color;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__descr-num {
  margin-left: 30px;
  color: $brand-color;
}
.header__progress {
  width: 60%;
  padding-left: 80px;
  @include media($xl) {
    padding-left: 0;
  }
  @include media($md) {
    width: 70%;
  }
  @include media($sm) {
    width: 100%;
  }
}
.header__descr-item--progress {
  display: flex;
  justify-content: flex-start;
  padding-top: 14px;
  padding-bottom: 7px;
}
.header__descr-list--row {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}
.header__burger {
  display: none;
  z-index: 3;
  position: relative;
  @include media($lg) {
    display: block;
  }
}
