.header {
  background: url(../img/background.jpg) center center/ cover no-repeat;
  position: relative;
}
.header__container {
  padding-top: 48px;
  padding-bottom: 218px;
  background-color: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 199px;
}
.header__logo {
  flex-shrink: 0;
  text-decoration: none;
  position: absolute;
  top: 40px;
  left: 73px;
}
.header__top-btn {
  flex-shrink: 0;
  text-decoration: none;
  position: absolute;
  top: 38px;
  right: 70px;
}
.header__h1 {
  margin-bottom: 50px;
  width: 60%;
}
.header__bottom {
  background-color: $body-bg-text;
}
.header__bottom-container {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 21px;
}
.header__bottom-btn {
  margin-right: 85px;
}
.header__desc-list {
  margin-right: 80px;
}
.header__desc-item {
  display: flex;
  justify-content: space-between;
  color: $second-color;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__desc-num {
  margin-left: 30px;
  color: $brand-color;
}
.header__progress {
  display: flex;
  flex-direction: column;
}
.header__desc-item--progress {
  display: flex;
  justify-content: flex-start;
  padding-top: 14px;
  padding-bottom: 7px;
}
.header__desc-list--row {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}
