.header {
  background: url(../img/background.jpg) center center/ cover no-repeat;
  z-index: -1;
}
.header__container {
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 218px;
  background-color: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 198px;
}
.header__logo {
  flex-shrink: 0;
  text-decoration: none;
}
.header__top-btn {
  flex-shrink: 0;
  text-decoration: none;
}
.header__h1 {
  @include font(64px, 90px, 700);
  margin-bottom: 50px;
  margin-right: 391px;
}
.header__bottom {
  background-color: $body-bg-text;
}
.header__bottom-container {
  display: flex;
  align-items: center;
  padding: 35px 0 28px;
}
.header__bottom-btn {
  margin-right: 81px;
}
.header__desc-list {
  margin-right: 81px;
}
.header__desc-item {
  display: flex;
  justify-content: space-between;
  color: $second-color;
  margin-bottom: 5px;
  margin-top: 5px;
}
.header__desc-num {
  margin-left: 30px;
  color: $brand-color;
}
.header__progress {
  display: flex;
  flex-direction: column;
}
.header__desc-item--progress {
  display: flex;
  justify-content: flex-start;
}
.header__desc-list--row {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}
