.loading:after,
.loading:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loading {
  width: 95px;
  height: 95px;
  position: relative;
}
.loading:before {
  border-radius: 50%;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
.loading:after {
  background-color: $body-bg;
  margin: 17px;
  border-radius: 50%;
}

.loading__line-active:after,
.loading__line-active:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.loading__line-active {
  width: 46px;
  height: 117px;
  background-color: black;
  transform: rotate(314deg);
}

