.header__logo {
  z-index: 3;
  flex-shrink: 0;
  text-decoration: none;
  position: absolute;
  top: 38px;
  left: 73px;
}
@media (max-width: 1200px) {
  .logotype{
    position: fixed;
  }
  .header__logo{
    left: 24px;
    top: 48px;
  }
}
@media (max-width: 768px) {
  .header__logo{
    top: 30px;
  }
}
@media (max-width: 768px) {
  .header__logo{
    top: 16px;
  }
}