.nav {
  flex-grow: 1;
}
.nav__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 110px;
}
.nav__link {
  padding-left: 28px;
  padding-right: 28px;
  @include font(16px, 24px, 400);
  color: $brand-color;
}
@media (max-width: 1300px) {
  .nav__list {
    margin-left: 0;
  }
}
@media (max-width: 970px) {
  .nav__list--column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__list--column .nav__link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .nav__list--column .nav__link {
    margin-bottom: 21px;
    padding: 0;
  }
}
