.partners__container {
  padding-bottom: 153px;
}
.partners__top {
  display: flex;
}
.partners__round {
}
.partners__h2 {
  text-align: center;
  margin-bottom: 89px;
}


.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
}

.partners__icon {
 padding: 29px 66px;
}

.partners__img {
display: block;
}

