.partners__container {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 153px;
  @include media($lg-md) {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 80px;
  }
  @include media($md) {
    padding-bottom: 60px;
  }
}
.partners__top {
  display: flex;
  @include media($lg-md) {
    justify-content: center;
  }
}
.partners__h2 {
  text-align: center;
  margin-bottom: 89px;
  padding-left: 47px;
  @include media($md) {
    margin-bottom: 60px;
    padding-left: 0;
  }
  @include media($sm) {
    margin-bottom: 40px;
  }
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  @include media($lg-md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.partners__item {
  padding: 29px 66px;
  list-style: none;
  @include media($sm) {
    padding: 10px;
  }
}
.partners__item:nth-child(-n + 4) {
  border-bottom: 1px solid $border-line-transparent;
}
.partners__item:nth-child(-n + 8) {
  border-right: 1px solid $border-line-transparent;
}
.partners__item:nth-child(4),
.partners__item:nth-child(8) {
  border-right: 1px solid $border-line-black;
}
@include media($lg-md) {
  .partners__item:nth-child(2),
  .partners__item:nth-child(6) {
    border-right: 1px solid $border-line-black;
  }
  .partners__item:nth-child(5),
  .partners__item:nth-child(6) {
    border-bottom: 1px solid $border-line-transparent;
  }
}

.partners__img {
  display: block;
  width: 100%;
  object-fit: contain;
}
