.result__container {
  padding-top: 68px;
  padding-bottom: 200px;
  @include media($lg-md) {
    padding-top: 20px;
    padding-bottom: 80px;
  }
  @include media($md) {
    padding-bottom: 60px;
  }
}
.result__fast {
  margin-bottom: 34px;
  display: flex;
  @include media($lg-md) {
    justify-content: center;
  }
  @include media($lg-md) {
    margin-bottom: 20px;
  }
}
.result__h2 {
  padding-left: 32px;
  padding-top: 12px;
}
.result__text {
  width: 31%;
  margin-bottom: 80px;
  @include media($lg-md) {
    text-align: center;
    width: 100%;
  }
  @include media($md) {
    margin-bottom: 40px;
  }
}
.result__bottom {
  display: flex;
  flex-direction: column;
  @include media($md) {
    flex-direction: row;
    justify-content: center;
  }
}
.result__numbers {
  display: flex;
  @include media($md) {
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }
}
.result__number {
  @include font(36px, 50px, 700);
  color: #ffffff;
  padding-bottom: 19px;
  width: 100%;
  @include media($md) {
    @include font(26px, 40px, 700);
    padding-right: 9px;
    padding-bottom: 0;
    height: 255px;
  }
}
.result__lines {
  display: flex;
  align-items: center;
  flex-grow: 1;
  @include media($md) {
    flex-direction: column;
    flex-grow: 0;
  }
}
.result__descs {
  display: flex;
  @include media($md) {
    flex-direction: column;
    justify-content: space-between;
  }
}
.result__desc {
  padding-top: 36px;
  padding-right: 15px;
  width: 100%;
  @include media($md) {
    padding-top: 0;
    padding-left: 20px;
    height: 255px;
  }
}
