.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
  max-width: 527px;
  margin-bottom: 170px;
}
.timer__item {
  padding: 17px 29px;
  background-color: $body-bg-text;
  text-align: center;
}
.timer__number {
  @include font(36px, 54px, 700);
}
.timer__time {
  @include font(16px, 22px, 400);
  color: $second-color;
}
@media (max-width: 1300px) {
  .timer {
    margin: 0 auto;
    margin-bottom: 170px;
  }
}
@media (max-width: 1024px) {
  .timer {
    margin-bottom: 0px;
  }
}
@media (max-width: 820px) {
  .timer {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .timer {
    max-width: 476px;
  }
  .timer__number {
    @include font(20px, 39px, 700);
  }
  .timer__time {
    @include font(12px, 12px, 400);
  }
}
@media (max-width: 576px) {
  .timer {
    max-width: 330px;
    grid-gap: 8px;
  }
  .timer__item {
    padding: 10px 15px;
  }
}
