.training__container {
  padding-bottom: 171px;
}
.training__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.training__h2 {
  margin-top: 32px;
  margin-bottom: 30px;
}
.training__desc {
  margin-bottom: 80px;
}
.training__list {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  list-style-type: none;
}
.training__list:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 6px;
  margin-left: -10px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.training__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.training__week {
  width: 50%;
  padding-right: 40px;
  text-align: right;
  padding: 10px 60px 16px 0;
}

.training__info {
  width: 50%;
  padding-right: 12px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
}
.training__line {
  width: 40px;
  height: 1px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 10px 0;
}
.training__text{
padding: 10px 22px 10px 10px;
}
.training__item:nth-child(even) .training__info {
  padding-right: 0;

  text-align: left;
  margin-left: auto;
  flex-direction: row;
}
.training__item:nth-child(even) .training__week {
  padding-right: 0;
  padding-left: 40px;
  text-align: left;
  margin-left: auto;
}
