.training__container {
  padding-top: 60px;
  padding-bottom: 199px;
  @include media($lg-md) {
    padding-top: 0;
    padding-bottom: 80px;
  }
  @include media($md) {
    padding-bottom: 60px;
  }
}
.training__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.training__h2 {
  margin-top: 54px;
  margin-bottom: 30px;
  @include media($lg-md) {
    margin-top: 40px;
  }
  @include media($md) {
    margin-top: 20px;
  }
}
.training__descr {
  margin-bottom: 81px;
  width: 33%;
  text-align: center;
  @include media($lg-md) {
    margin-bottom: 50px;
  }
  @include media($md) {
    width: 100%;
    margin-bottom: 30px;
  }
}
.training__list {
  position: relative;
  margin: 0 auto;
  max-width: 620px;
  list-style-type: none;
}
.training__list:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 6px;
  margin-left: -2px;
  background: $line-bg;
}
.training__info {
  width: 50%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 63px;
  @include media($sm) {
    padding-right: 37px;
  }
}
.training__h3 {
  padding-top: 2px;
}
.training__text {
  position: relative;
  padding-top: 13px;
}
.training__text:after {
  content: " ";
  height: 2px;
  width: 40px;
  background-color: $border-line-transparent;
  position: absolute;
  right: -60px;
  top: 27px;
  @include media($sm) {
    right: -35px;
    width: 26px;
  }
}
.training__item:nth-child(even) .training__info {
  padding-right: 0;
  text-align: left;
  margin-left: auto;
  align-items: flex-start;
  padding-left: 79px;
  @include media($sm) {
    padding-left: 37px;
  }
}
.training__item:nth-child(even) .training__text:after {
  right: auto;
  left: -76px;
  top: 25px;
  @include media($sm) {
    left: -36px;
  }
}
